<div class="container">
    <paper-shadow z="1">
        <h1 id="subTitle">Drop A Bomb!</h1>
        <div class="subContainer">
            <paper-input-decorator label="Game Code" class="spacer gameCode">
                <input is="core-input" ng-model="gameID" ng-maxlength="5" maxlength="5">
            </paper-input-decorator>

            <paper-dropdown-menu label="Hashbomb">
                <paper-dropdown class="dropdown spacer hashbomb">
                    <core-menu class="menu" valueattr="value" ng-model="hashbomb">
                        <paper-item value="#ricky">#ricky</paper-item>
                        <paper-item value="#barrel">#barrel</paper-item>
                        <paper-item value="#lasers">#lasers</paper-item>
                        <paper-item value="#langzone">#langzone</paper-item>
                    </core-menu>
                </paper-dropdown>
            </paper-dropdown-menu>
            <br>
            <br>
            <paper-button raised ng-click='addPost()' class="redButton spacer">Drop The Bomb</paper-button>
        </div>
    </paper-shadow>
</div>